@font-face {
    font-family: dowhile;
    src: url(../fonts/dowhile/dowhile.ttf);
}

body{
	background: #000;
}
a{
	color: #4B4B4B;
}
.logo{
	font-size: 40px;
	color: #fff;
	font-family: 'dowhile';
	position: fixed;
	top: -10px;
	left: 60px;
}
.logo_2{
	font-size: 8em;
	color: #fff;
	font-family: 'dowhile';
	text-shadow: -2px -2px 10px #555, 2px 2px 10px #555, -2px 2px 10px #555, 2px -2px 10px #555;
}
.light-text{
	color: #fff;
	font-size: 2.7em;
	font-weight: normal;
	padding-bottom: 2em;
	text-shadow: -2px -2px 10px #555, 2px 2px 10px #555, -2px 2px 10px #555, 2px -2px 10px #555;
}
#home{
	background-image: url(../img/noche.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 10em;
	height: 100vh;
}
#portafolio{
	background-color: #f1f1f1;
}

#conocenos{
	background-color: #f8f8f8;
	padding: 50px;
}
#blog{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 10em;
}
.services-img{
	width: 20%;
}
.container{
	width: 90%;
}
.card {
    max-width: 80% !important;
}
.card .card-content {
    padding: 0px 0.7em !important;
}
.text-card{
	padding-top: 2em;
}
.title-section{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 1em 0;
	text-shadow: -2px -2px 10px #fff, 2px 2px 10px #fff, -2px 2px 10px #fff, 2px -2px 10px #fff;
}
.title-section3{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 1em 0;
}
.title-section_2{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	padding: 0 0 0 1em;

}
nav {
	background-color: rgba(20,20,20,0.8);
}
.pd-bottom{
	padding-bottom: 2em;
}
.pd-top{
	padding-top: 2em;
}
.subtitle-section{
	margin-top: -35px !important;
	text-shadow: -2px -2px 10px #fff, 2px 2px 10px #fff, -2px 2px 10px #fff, 2px -2px 10px #fff;
}
.subtitle-section2{
	margin-top: -35px !important;
}
@media (max-width: 480px) {
	.logo_2{
		font-size: 4em;
		color: #fff;
		font-family: 'dowhile';
	}
	.light-text{
		color: #fff;
		font-size: 0.8em;
		font-weight: normal;
	}
	#home{
		background-image: url(../img/noche.jpg);
		background-size: cover;
		background-attachment: fixed;
		padding: 2.8em;
	}
	#contacto{
		background-image: url(../img/ciudad.jpg);
		background-size: cover;
		background-attachment: fixed;
		padding: 2.8em;
	}
	.paragraph-services{
		padding: 0 !important;
	}
	.card.small, .card.medium, .card.large {
	    position: relative;
	    left: 33px;
	}
}

.title-services{
	font-weight: bold;
	font-family: 'Lato';
}
.paragraph-services{
	padding: 0 4em;
}
footer.page-footer{
	background-color: #164450;
	color: #FFF;
	margin-top: 0 !important;
}
.link{
	color: #FFF;
	font-size: 0.9em;
}
.link:hover{
	color: #1ECBFD;
	font-size: 1em;
}
.list-footer{
	padding-left: 2em;
}
.list-footer i{
	font-size: 0.8em;
}
.link-site{
	font-family: 'dowhile';
	color: #FFF;
	font-size: 1em;
}
#contacto{
	background-image: url(../img/ciudad.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #FFF;
	padding: 3em 0;
}

#contacto label{
	color: #FFF;
}

.error{
	background: #ff5555;
	color: #fff;
}

.bg{
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	height: 320px;
	padding-top: 20px;
}
.bg2{
	background: rgba(20,20,20,0.6);
	border-radius: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;
}